<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qy.mapper.SystemUserMapper">
    <insert id="insertbook">
        insert patientBook values(#{name},#{bookStartTime},#{bookEndTime},#{username},#{status})
    </insert>
    <select id="login" resultType="com.qy.domain.User">
        select * from user where username=#{username} and password=#{password} and role=#{role}
    </select>
    <select id="findAllSchedule" resultType="com.qy.domain.DoctorSchedule">
        select * from doctorSchedule where username=#{username}
    </select>
</mapper>